NEXTCLOUD_AIO_PORT=8090
NEXTCLOUD_APACHE_PORT=11000
NEXTCLOUD_APACHE_IP_BINDING=0.0.0.0
NEXTCLOUD_DATADIR=/mnt/ncdata
NEXTCLOUD_MOUNT=/mnt/
NEXTCLOUD_UPLOAD_LIMIT=16G
NEXTCLOUD_MAX_TIME=3600
NEXTCLOUD_MEMORY_LIMIT=2048M
NEXTCLOUD_SKIP_DOMAIN_VALIDATION=true
